/*
Rule - Selector, Descriptor
*/

.breathVertical {
    margin-top:5px;
    margin-bottom:5px;
}


.breathHorizontal {
    margin-left:5px;
    margin-right:5px;
}

div.todoStatusACTIVE {

    color : black;
}


div.todoStatusCOMPLETED{
    color : green;
    text-decoration : line-through;
    /*border: black solid 2px;*/
}

div.todoStatusDELETED {
    color : red;
    text-decoration : line-through;

}

/*to create everything in center of page*/
.main {
    text-align: center;
    margin: 10px auto;
    width: 50%;
    border: #f2f2f2 solid 1px;
    background: #f2f2f2;
    -webkit-box-shadow: 10px 10px 6px -6px #777;
    -moz-box-shadow: 10px 10px 6px -6px #777;
    box-shadow: 10px 10px 6px -6px #777;
}

h1{
    text-align: center;
    margin: 10px auto;
}

.todo_list h4{
    text-align: left;
    margin: 2px 10px;
    /*border: blue solid 2px;*/
}

.todo_list a {
    display: block;
    text-align: left;
    margin: 2px 10px;
    width: 95%;
    /*border: blue solid 2px;*/

}

.todo_list .breathVertical {

    text-align: left;
    margin: 5px 50px;
    width: 50%;
    padding: 10px 0;
    /*border-bottom: black solid 2px;*/
}


.todo_list .todo_title {
    margin: 5px 5px;
    text-align: left;
    /*border: orange solid 1px;*/

    width: 30%
}

.todo_list button {
    float: right;
}

.todo_list {
    margin: 2px auto;
    width: 95%;
    border-bottom: black solid 2px ;

}

.new_todo_add {

    margin: 50px 0px;
    width: 75%;
    /*border: pink solid 2px ;*/
}

.new_todo_add input[type=text]{
    float:  left;
    margin-left: 5%;
    width: 55%;
}


.checkbox {
    padding-left: 20px; }
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }
.checkbox input[type="checkbox"] {
    opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }